{% extends '::base.html.twig' %}

{% block body %}
    <h2>Puszek Admin</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for client in clientsList %}
        <tr>
            <td>
                {{ client.name }}
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#" data-url="{{ path('puszek_admin_clients_delete', { 'client': client.id }) }}" data-confirm="Delete this client?">usuń</a>
                    <a class="btn btn-default" href="{{ path('puszek_admin_clients_edit', { 'client': client.id }) }}">edytuj</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
