<md-button class="md-fab md-fab-flat md-primary toggle-button" ng-click="puszek.toggle()" p-stop-events="click">
    <p-icon src="/views/icons/ic_chat_24px.svg"></p-icon>
    <span class="counter">[[ puszek.messages.length ]]</span>
    <div class="button-mask"></div>
</md-button>
<div class="tray md-whiteframe-z2 ng-cloak" ng-show="puszek.messagesVisible">
    <div class="toolbar">
        <div class="empty-info" ng-if="!puszek.messages.length">There are no messages for you</div>
        <div ng-if="puszek.messages.length">
            <md-button class="clear" ng-click="puszek.clear()" p-stop-events="click">
                <p-icon src="/views/icons/ic_clear_all_24px.svg"></p-icon>
            </md-button>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </div>
    <div data-ng-repeat="msg in puszek.messages" class="message">
        <div class="message-content">
            [[ msg.message ]]
            <md-button ng-click="puszek.markAsRead(msg)" p-stop-events="click">&#x2716;</md-button>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </div>
</div>
