<!DOCTYPE html>
<html>
<head>

    <title>Puszek Server Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output="assets/compiled/main.css"
            '@angular_material_css'
            '@PuszekPuszekAdminAdminBundle/Resources/public/components/angular-material/themes/default-theme.css'
            '@PuszekPuszekAdminAdminBundle/Resources/public/css/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>

<body data-ng-app="puszekApp" data-ng-controller="mainController as main" layout="horizontal">

    <md-sidenav role="navigation" layout="vertical" class="md-sidenav-left md-whiteframe-z2" is-locked-open="$media('md')">
        <div data-ng-controller="mainMenuController as mainMenu">
            <md-toolbar class="md-medium-tall md-default-theme">
                <h1 class="md-toolbar-tools">
                    <a data-ui-sref="homepage">Puszek Server Admin</a><br />
                    [[ User.getFullName() ]]
                </h1>
            </md-toolbar>

            <md-content>
                <section layout-align="center center" layout="vertical" ng-if="User.isLoggedIn()">
                    <md-button flex class="md-primary"><a data-ui-sref="clients">Clients</a></md-button>
                </section>
                <section layout-align="center center" layout="vertical">
                    <md-button data-ng-if="User.isLoggedIn()"><a data-ui-sref="auth_logout">Logout</a></md-button>
                    <md-button data-ng-if="!User.isLoggedIn()"><a data-ui-sref="auth_login">Login</a></md-button>
                </section>
            </md-content>
        </div>
    </md-sidenav>

    <div data-ui-view layout="vertical"></div>

    {% block javascripts %}
        {% javascripts output="assets/compiled/main.js"
            '@jquery_js'
            '@underscore_js'
            '@angular_js'
            '@angular_animate_js'
            '@angular_aria_js'
            '@hammerjs_js'
            '@angular_route_js'
            '@angular_ui_router_js'
            '@restangular_js'
            '@angular_material_js'

            '@PuszekPuszekAdminAdminBundle/Resources/public/js/app.js'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/commons/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/auth/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/crud/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/main/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/mainMenu/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/dashboard/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/clients/*'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            angular.module('puszekApp').constant('Config', {
                baseUrl: '{{ app.request.baseUrl }}',
                basePath: '{{ app.request.basePath }}'
            });
        </script>
    {% endblock %}
</body>
</html>
