<!DOCTYPE html>
<html>
<head>

    <title>Puszek Server Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output="assets/compiled/main.css"
            '@angular_material_css'
            '@PuszekPuszekAdminAdminBundle/Resources/public/components/angular-material/themes/*.css'
            '@PuszekPuszekAdminAdminBundle/Resources/public/css/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>

<body data-ng-app="puszekApp" data-ng-controller="mainController as main" layout="horizontal">

    <md-sidenav layout="vertical" role="navigation" class="md-sidenav-left md-whiteframe-z2" is-locked-open="$media('md')"
                static-include="/views/commons/mainMenu.html">
    </md-sidenav>
    <div layout="vertical" layout-fill>
        <md-toolbar class="md-medium-tall md-default-theme">
            <h2 class="md-toolbar-tools" ui-view="contentHeader"></h2>
        </md-toolbar>
        <md-content scroll-y flex ui-view="content"></md-content>
    </div>

    {% block javascripts %}
        {% javascripts output="assets/compiled/main.js"
            '@jquery_js'
            '@underscore_js'
            '@angular_js'
            '@angular_animate_js'
            '@angular_aria_js'
            '@hammerjs_js'
            '@angular_route_js'
            '@angular_ui_router_js'
            '@restangular_js'
            '@angular_material_js'

            '@PuszekPuszekAdminAdminBundle/Resources/public/js/app.js'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/commons/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/auth/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/crud/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/main/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/mainMenu/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/dashboard/*'
            '@PuszekPuszekAdminAdminBundle/Resources/public/js/clients/*'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            angular.module('puszekApp').constant('Config', {
                baseUrl: '{{ app.request.baseUrl }}',
                basePath: '{{ app.request.basePath }}'
            });
        </script>
    {% endblock %}
</body>
</html>
