<md-content layout-padding>
    <div class="alert alert-danger" data-ng-if="error">[[ error.message ]]</div>
    <form role="form" ng-submit="loginForm.$valid && doLogin()" name="loginForm">
        <div class="row">
            <md-text-float type="text" id="login_username" label="E-mail" ng-model="loginFormData._username"></md-text-float>
        </div>
        <div class="row">
            <md-text-float type="password" id="login_password" label="Password" ng-model="loginFormData._password"></md-text-float>
        </div>
        <div class="row">
            <md-button class="md-raised md-primary" type="submit">Submit</md-button>
        </div>
    </form>
</md-content>
