<div layout="row" class="main-content">

    <md-toolbar>
        <h2 class="md-toolbar-tools">Notifications</h2>
    </md-toolbar>
    <md-whiteframe class="md-whiteframe-z1">
        <md-content>
            <form role="form" name="form">
                <div class="row">
                    <md-text-float type="text" id="sender" label="Sender" ng-model="notification.sender" name="sender" required></md-text-float>
                    <div class="error" ng-if="!form.sender.$valid && form.sender.$touched">This field is required</div>
                </div>
                <div class="row">
                    <md-text-float type="text" id="receivers" label="Receivers" ng-model="notification.receivers" name="receivers" required></md-text-float>
                    <div class="error" ng-if="!form.receivers.$valid && form.receivers.$touched">This field is required</div>
                </div>
                <div class="row">
                    <md-text-float class="long" type="text" id="message" label="Message" ng-model="notification.message.message" name="message" required></md-text-float>
                    <div class="error" ng-if="!form.notification.$valid && form.notification.$touched">This field is required</div>
                </div>
                <div class="row">
                    <md-button ng-click="sendNotification()">Send</md-button>
                </div>
            </form>
        </md-content>
    </md-whiteframe>

</div>
