{% extends '::base.html.twig' %}

{% block body %}
    Puszek Admin
    <div class="well">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        {{ form(form, { 'action': path('login_check') }) }}
    </div>
{% endblock %}
