<div data-ng-controller="mainMenuController as mainMenu">
    <md-content layout="vertical" layout-padding>
        <md-list layout="vertical" ng-if="User.isLoggedIn()" layout-padding>
            <md-button ui-sref-active="md-primary" ui-sref="clients">Clients</md-button>
        </md-list>
        <br />
        <section layout="vertical" layout-padding ng-if="User.isLoaded()">
            <md-button data-ng-if="User.isLoggedIn()" ui-sref="auth_logout">Logout</md-button>
            <md-button ui-sref-active="md-primary" ng-if="!User.isLoggedIn()" ui-sref="auth_login">Login</md-button>
        </section>
    </md-content>
</div>
