<div ng-controller="mainMenuController as mainMenu" ng-click="main.mainMenuClose()">
    <md-content layout="column" class="main-menu">
        <md-list layout="column" ng-if="User.isLoggedIn()">
            <md-item ink-ripple ui-sref="homepage" ui-sref-active="active">
                <p-icon src="/views/icons/ic_dashboard_24px.svg"></p-icon>
                <label>Dashboard</label>
            </md-item>
            <md-item ink-ripple ui-sref="clients" ui-sref-active="active">
                <p-icon src="/views/icons/ic_person_24px.svg"></p-icon>
                <label>Clients</label>
            </md-item>
            <md-item ink-ripple ui-sref="messages" ui-sref-active="active">
                <p-icon src="/views/icons/ic_chat_24px.svg"></p-icon>
                <label>Messages</label>
            </md-item>
            <md-item ink-ripple ui-sref="notifications" ui-sref-active="active">
                <p-icon src="/views/icons/ic_notifications_none_24px.svg"></p-icon>
                <label>Notifications</label>
            </md-item>
        </md-list>

        <md-divider></md-divider>

        <md-list layout="column">
            <md-item ink-ripple ui-sref="auth_logout" ui-sref-active="active" ng-if="User.isLoggedIn()">
                <p-icon src="/views/icons/ic_settings_power_24px.svg"></p-icon>
                <label>Logout</label>
            </md-item>
            <md-item ink-ripple ui-sref="auth_login" ui-sref-active="active" ng-if="!User.isLoggedIn()">
                <p-icon src="/views/icons/ic_exit_to_app_24px.svg"></p-icon>
                <label>Log in</label>
            </md-item>
        </md-list>
    </md-content>
</div>
