<div layout="row" class="messages">
    <section class="main-content">
        <md-list class="list">
            <div dir-paginate="item in crudGUI.getItems() | crudIsItem | itemsPerPage:crudGUI.getMeta().items_per_page:'messages' track by item.id"
                 pagination-id="messages" total-items="crudGUI.getMeta().total_count"
                 class="p-item md-whiteframe-z1" ng-click="selectItem(item)" ng-class="{ 'md-whiteframe-z2 focused' : isSelected(item) }">
                <md-item-content ng-click>
                    <div class="md-tile-content">
                        <h3>[[ item.sender ]]</h3>
                        <h4>[[ item.receivers ]]</h4>
                        <div class="details" ng-if="isSelected(item)">
                            [[ item.message ]]
                        </div>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list>
        <dir-pagination-controls pagination-id="messages" on-page-change="crudGUI.setPage(newPageNumber)"></dir-pagination-controls>
    </section>
</div>
