<md-content>
    <form role="form" name="form">
        <div class="row">
            <md-text-float type="text" id="sender" label="Sender" ng-model="message.sender" name="sender" required></md-text-float>
            <div class="error" ng-if="!form.sender.$valid">This field is required</div>
        </div>
        <div class="row">
            <md-text-float type="text" id="receivers" label="Receivers" ng-model="message.receivers" name="receivers" required></md-text-float>
            <div class="error" ng-if="!form.receivers.$valid">This field is required</div>
        </div>
        <div class="row">
            <md-text-float class="long" type="text" id="message" label="Message" ng-model="message.message" name="message" required></md-text-float>
            <div class="error" ng-if="!form.message.$valid">This field is required</div>
        </div>
    </form>
</md-content>
<div class="md-actions">
    <md-button ng-click="$mdDialog.cancel()">Cancel</md-button>
    <md-button ng-click="send()" class="md-primary">Save</md-button>
</div>
