<div layout="vertical">
    <md-whiteframe class="md-whiteframe-z1" layout="horizontal" layout-padding>
        <md-button ng-click="crudGUI.new()">New client</md-button>
    </md-whiteframe>
    <br />
    <md-list class="main-content">
        <md-item ng-repeat="item in crudGUI.getItems()">
            <md-item-content>
                <div class="md-tile-left">

                </div>
                <div class="md-tile-content">
                    <h3>[[ item.name ]]</h3>
                    <h4>[[ item.private_key ]]</h4>
                </div>
                <div class="md-tile-right">
                    <md-button ng-click="crudGUI.edit(item)">Edit</md-button>
                    <md-button ng-click="crudGUI.delete(item)" click-confirm="Realy delete this client?">Delete</md-button>
                </div>
            </md-item-content>
            <md-divider inset ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</div>
