<div layout="vertical" class="clients">

    <section class="main-content">
        <md-list class="list">
            <div ng-repeat="item in crudGUI.getItems()" class="p-item md-whiteframe-z1" ng-click="selectItem(item)" ng-class="{ 'md-whiteframe-z2 focused' : isSelected(item) }">
                <md-item-content ng-click>
                    <div class="md-tile-content">
                        <h3>[[ item.name ]]</h3>
                        <h4>[[ item.privateKey ]]</h4>
                        <div class="details" ng-if="isSelected(item)">
                        </div>
                    </div>
                    <p-popup-actions p-stop-events="click">
                        <md-button ng-click="crudGUI.edit(item)">
                            <p-icon src="/views/icons/ic_edit_24px.svg"></p-icon>
                        </md-button>
                        <md-button ng-click="crudGUI.delete(item)" click-confirm="Realy delete this client?" class="md-warn">
                            <p-icon src="/views/icons/ic_delete_24px.svg"></p-icon>
                        </md-button>
                    </p-popup-actions>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list>
    </section>

    <div class="actions-menu" ng-controller="actionsMenuController as actionsMenuCtrl">
        <md-button class="md-fab md-primary actions-button" md-theme="red" aria-label="Create client" ng-click="crudGUI.new()">
            <p-icon class="first" src="/views/icons/ic_add_24px.svg"></p-icon>
            <p-icon class="second" src="/views/icons/ic_create_24px.svg"></p-icon>
            <div class="button-mask"></div>
            <md-tooltip>Create client</md-tooltip>
        </md-button>
    </div>
</div>
