<md-content>
    <form role="form" name="loginForm">
        <div class="row">
            <md-text-float type="email" id="login_username" label="E-mail" ng-model="item.name" name="name" required></md-text-float>
            <div class="error" ng-if="!loginForm.name.$valid">[[ loginForm.name.$error ]]</div>
        </div>
    </form>
</md-content>
<div class="md-actions">
    <md-button ng-click="save(loginForm)">Save</md-button>
    <md-button ng-click="$mdDialog.cancel()">Cancel</md-button>
</div>